.row {
  display: grid;
  gap: 1rem;
}

.formm {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 2rem;
  margin: 2rem auto;
}

.record {
  display: flex;
  gap: 1rem ;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid rgb(204, 204, 204);
}

@media (min-width: 300px) {
  .row { grid-template-columns: repeat(2, 1fr); }
  .formm {
    width: 80%;
  }
  .record {
    max-width: 100%;
    flex-direction: column;
  }
}


@media (min-width: 600px) {
  .row { grid-template-columns: repeat(3, 1fr); }
  .formm {
    width: 60%;
  }
  .record {
    flex-direction: row;
    max-width: 100%;
  }
}


@media (min-width: 900px) {
  .row { grid-template-columns: repeat(5, 1fr); }
  .formm {
    width: 50%;
  }
  .record {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .row { grid-template-columns: repeat(10, 1fr); }
  .formm {
    width: 25%;
  }
}